/.bsp/
/.idea/
/project/target/
/target/
*/target/
*/task-temp-directory/
/project/project/
/doc/.obsidian
/doc/.obsidian/
/doc/resources/.DS_Store
book
.obsidian
.smart-env
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*.pdf
*/*/*/*/*/*.pdf
*/*/*/*/*/*/*.pdf
*/*.pptx
*/*/*.pptx
*/*/*/*.pptx
*/*/*/*/*.pptx
*/*/*/*/*/*.pptx
*/*/*/*/*/*/*.pptx
*/*.ppt
*/*/*.ppt
*/*/*/*.ppt
*/*/*/*/*.ppt
*/*/*/*/*/*.ppt
*/*/*/*/*/*/*.ppt
*/*.docx
*/*/*.docx
*/*/*/*.docx
*/*/*/*/*.docx
*/*/*/*/*/*.docx
*/*/*/*/*/*/*.docx
*/*.xlsx
*/*/*.xlsx
*/*/*/*.xlsx
*/*/*/*/*.xlsx
*/*/*/*/*/*.xlsx
*/*/*/*/*/*/*.xlsx
*/*.zip
*/*/*.zip
*/*/*/*.zip
*/*/*/*/*.zip
*/*/*/*/*/*.zip
*/*/*/*/*/*/*.zip